<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/all.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <style>
      * {
        box-sizing: border-box;
      }

      #livesearch {
        background-color: gainsboro;
        border-color: black;
        border-width: thin;
        border-style: solid;
        width: 500px;
        font-size: 10px;
      }

      .hide {
        display: none;
      }

      a:link,
      :visited,
      :hover,
      :active {
        color: black;
      }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>dTour- Login</title>
  </head>
  <body>
    <nav>
      <div class="navbar">
        <img src="/assets/Logo.svg" class="logo" />
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Features</a></li>
          <li><a href="#">Stories</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </nav>

    <form action="/business/create" method="POST">
      <h2>Create</h2>
      <label for="type">Delivery Type</label>
      <select name="type">
        <option value="food">Food</option>
        <option value="package">Package</option>
        <option value="mail">Mail</option>
      </select>
      <br />
      <label for="fragile">Is the package fragile?</label>
      <input type="checkbox" name="fragile" />
      <br />
      <label for="pickLocation">Pick Location</label>
      <input type="text" name="pickLocation" id="pickLoc" />
      <h3 onclick="showResult(document.getElementById('pickLoc').value)">
        search
      </h3>
      <div id="livesearch"></div>
      <br />
      <label for="dropLocation">Drop Location</label>
      <input type="text" name="dropLocation" id="dropLoc" />
      <button>login</button>
    </form>

    <script>
      let res = document.getElementById("livesearch");

      function showResult(str) {
        console.log("Heyyyy");
        res.innerHTML = "";
        if (str.length <= 3) {
          return;
        }
        $.ajax({
          url: `/business/search?srch=${str}`,
          method: "POST",
          contentType: "application/json",
          data: JSON.stringify({ search: str }),
          success: function (result) {
            result.forEach((element) => {
              res.innerHTML +=
                element.placeName + ", " + element.placeAddress + "<br>";
            });
          },
        });
      }
    </script>
  </body>
</html>
