<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/all.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <style>
      * {
        box-sizing: border-box;
      }

      .hide {
        display: none;
      }

      a:link,
      :visited,
      :hover,
      :active {
        color: black;
      }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>dTour- Login</title>
  </head>
  <body>
    <nav>
      <div class="navbar">
        <img src="/assets/Logo.svg" class="logo" />
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Features</a></li>
          <li><a href="#">Stories</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </nav>

    <form action="/business/create" method="POST">
      <h2>Create</h2>
      <label for="type">Delivery Type</label>
      <select name="type">
        <option value="food">Food</option>
        <option value="package">Package</option>
        <option value="mail">Mail</option>
      </select>
      <br />
      <label for="fragile">Is the package fragile?</label>
      <input type="checkbox" name="fragile" />
      <br />
      <label for="pickLocation">Pick Location</label>
      <input
        type="text"
        name="pickLocation"
        id="pickLoc"
        onkeyup="result(this.value, 'livesearchpick', true)"
      />
      <div class="dropdownPick"></div>
      <label for="pickFlat">Pick Apartment</label>
      <input type="text" name="pickFlat" />
      <br />
      <label for="dropLocation">Drop Location</label>
      <input
        type="text"
        name="dropLocation"
        id="dropLoc"
        onkeyup="result(this.value, 'livesearchdrop', false)"
      />
      <div class="dropdownDrop"></div>
      <label for="dropFlat">Drop Apartment</label>
      <input type="text" name="dropFlat" />
      <div class="err"></div>
      <div id="livesearchdrop" class="hide"></div>
      <button>login</button>
      <input type="text" name="pickeLoc" style="display: none" />
      <input type="text" name="dropeLoc" style="display: none" />
    </form>

    <script>
      let res;
      let timeout;
      function result(str, id, pick) {
        if (timeout) {
          clearTimeout(timeout);
        }
        timeout = setTimeout(function () {
          for (let div of document.querySelectorAll(".dropdownPick div")) {
            div.remove();
          }

          for (let div of document.querySelectorAll(".dropdownDrop div")) {
            div.remove();
          }
          showResult(str, id, pick);
        }, 1500);
      }
      function showResult(str, id, pick) {
        // res = document.getElementById(id);
        // res.innerHTML = "";
        if (str.length <= 3) {
          // res.classList.add("hide");
          document.querySelector(".err").textContent = "Small address";
          return;
        }
        // res.classList.remove("hide");
        $.ajax({
          url: `/business/search?srch=${str}`,
          method: "POST",
          contentType: "application/json",
          data: JSON.stringify({ search: str }),
          success: function (result) {
            result.forEach((element) => {
              const div = document.createElement("DIV");
              div.textContent = element.placeName + ", " + element.placeAddress;
              div.id = element.eLoc;
              if (pick) {
                document.querySelector(".dropdownPick").append(div);
              } else {
                document.querySelector(".dropdownDrop").append(div);
              }

              for (let div of document.querySelectorAll(".dropdownPick div")) {
                div.addEventListener("click", () => {
                  document.querySelector("#pickLoc").value = div.textContent;
                  document.querySelector("input[name='pickeLoc']").value =
                    div.id;
                });
              }

              for (let div of document.querySelectorAll(".dropdownDrop div")) {
                div.addEventListener("click", () => {
                  document.querySelector("#dropLoc").value = div.textContent;
                  document.querySelector("input[name='dropeLoc']").value =
                    div.id;
                });
              }
            });
          },
        });
      }
    </script>
  </body>
</html>
