<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/all.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <title>dTour- Login</title>
  </head>
  <body>
    <nav>
      <div class="navbar">
        <img src="/assets/Logo.svg" class="logo" />
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Features</a></li>
          <li><a href="#">Stories</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </nav>

    <form action="/business/create" method="POST">
      <h2>Create</h2>
      <label for="type">Delivery Type</label>
      <select name="type">
        <option value="food">Food</option>
        <option value="package">Package</option>
        <option value="mail">Mail</option>
      </select>
      <br />
      <label for="fragile">Is the package fragile?</label>
      <input type="checkbox" name="fragile" />
      <br />
      <label for="pickLocation">Pick Location</label>
      <input type="text" name="pickLocation" id="pickLoc" />
      <br />
      <label for="dropLocation">Drop Location</label>
      <input type="text" name="dropLocation" id="dropLoc" />
      <button>login</button>
    </form>

    <script
      async
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0KT1XAdPZPo8W25oy5FKCXPo3lFhT8pU&libraries=places&callback=initAutoComplete"
    ></script>
    <script>
      let autoComplete;
      function initAutoComplete() {
        autoComplete = new google.maps.places.Autocomplete(
          document.getElementById("pickLoc"),
          {
            fields: ["name"],
          }
        );
        autoComplete = new google.maps.places.Autocomplete(
          document.getElementById("dropLoc"),
          {
            fields: ["name"],
          }
        );
      }

      initAutoComplete();
    </script>
  </body>
</html>
