<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/detours.css" />
    <link rel="stylesheet" href="/css/all.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>
    <nav>
      <div class="navbar">
        <img src="../assets/Logo.svg" class="logo" />
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Features</a></li>
          <li><a href="#">Stories</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </nav>

    <section class="detours-container">
        <input type="text" name="detours" placeholder="Find detours near you"/>
        <div class="cards">
            <div class="card">
                <i class="fa fa-car"></i>
                <h3 class="delivery">Package Delivery</h3>
                <p class="distance">12-14kms</p>
                <button class="btn detour-btn"><a href="#">Detour</a></button>
                <div class="user">
                    <div class="user-text">
                        <p class="user">Kevin Baba</p>
                    </div>
                    <i class="fa fa-user"></i>
                </div>
            </div>
            <div class="card">
                <i class="fa fa-car"></i>
                <h3 class="delivery">Package Delivery</h3>
                <p class="distance">12-14kms</p>
                <button class="btn detour-btn"><a href="#">Detour</a></button>
                <div class="user">
                    <div class="user-text">
                        <p class="user">Kevin Baba</p>
                    </div>
                    <i class="fa fa-user"></i>
                </div>
            </div>
            <div class="card">
                <i class="fa fa-car"></i>
                <h3 class="delivery">Package Delivery</h3>
                <p class="distance">12-14kms</p>
                <button class="btn detour-btn"><a href="#">Detour</a></button>
                <div class="user">
                    <div class="user-text">
                        <p class="user">Kevin Baba</p>
                    </div>
                    <i class="fa fa-user"></i>
                </div>
            </div>
            <div class="card">
                <i class="fa fa-car"></i>
                <h3 class="delivery">Package Delivery</h3>
                <p class="distance">12-14kms</p>
                <button class="btn detour-btn"><a href="#">Detour</a></button>
                <div class="user">
                    <div class="user-text">
                        <p class="user">Kevin Baba</p>
                    </div>
                    <i class="fa fa-user"></i>
                </div>
            </div>
            <div class="card">
                <i class="fa fa-car"></i>
                <h3 class="delivery">Package Delivery</h3>
                <p class="distance">12-14kms</p>
                <button class="btn detour-btn"><a href="#">Detour</a></button>
                <div class="user">
                    <div class="user-text">
                        <p class="user">Kevin Baba</p>
                    </div>
                    <i class="fa fa-user"></i>
                </div>
            </div>
            <div class="card">
                <i class="fa fa-car"></i>
                <h3 class="delivery">Package Delivery</h3>
                <p class="distance">12-14kms</p>
                <button class="btn detour-btn"><a href="#">Detour</a></button>
                <div class="user">
                    <div class="user-text">
                        <p class="user">Kevin Baba</p>
                    </div>
                    <i class="fa fa-user"></i>
                </div>
            </div>
        </div>
    </section>
</body>
</html>