<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>yoyoyo</h1>
    <br /><br /><a href="/auth/login">Login</a><br /><br />
    <a href="/auth/signup">Signup</a><br /><br /><a href="/protected"
      >PROTEXTED</a
    ><br /><br /><a href="/logout">logout</a><br />
    <a href="/detours">Detours</a><br />
    <a href="/rewards">rewards</a><br />
    <a href="/started">Detour started</a><br />
  </body>
</html>
