<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/all.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,500&display=swap"
      rel="stylesheet"
    />
    <title>dTour- Login</title>
  </head>
  <body>
    <img class="bg" src="/assets/login@2x.jpg" alt="" />
    <nav>
      <div class="navbar">
        <img src="/assets/Logo.svg" class="logo" />
      </div>
    </nav>

    <section class="form">
      <div class="login-container">
        <div class="form-container">
          <form action="/auth/login" method="POST">
            <h2>Sign in</h2>
            <% if (error) { %>
            <div class="err"><%= error %></div>
            <% } %>
            <label for="email">Email</label><br />
            <input type="text" name="email" />
            <div class="email error"></div>
            <label for="password">Password</label><br />
            <input type="password" name="password" />
            <div class="password error"></div>
            <button type="submit" class="btn login-btn">Sign in</button>

            <p style="margin-top: 4vh">
              Not Registered? <a href="/auth/signup">Register</a>
            </p>
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
