<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/all.css" />
    <link rel="stylesheet" href="/css/signup.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,500&display=swap" rel="stylesheet">
    <title>dTour- Sign up</title>
  </head>
  <body>
    <nav>
      <div class="navbar">
        <img src="/assets/Logo.svg" class="logo" />
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Features</a></li>
          <li><a href="#">Stories</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </nav>

    <section class="form">
      <div class="signup-container">
        <div class="form-container">
          <form method="POST" action="/auth/signup">
            <h2>Sign up</h2>
            <% if (error) { %>
              <div class="err"><%= error %></div>
            <% } %>
            <label for="buyer">Are you a buyer?</label>
            <input type="checkbox" name="buyer" /><br />
            <label for="name">Name</label><br />
            <input type="text" name="name" required /><br />
            <label for="email">Email</label><br />
            <input type="text" name="email" required /><br />
            <div class="email error"></div>
            <label for="password">Password</label><br />
            <input type="password" name="password" required />
            <div class="password error"></div>
            <button class="btn" type="submit">Sign up</button>
          </form>
        </div>
        <img src="/assets/Path 123.svg" class="image" />
      </div>
    </section>
    </script>
  </body>
</html>
