@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900");

:root {
  --black: #161a1d;
  --white: #fff;
  --lightGrey: #f5f3f4;
  --grey: #d3d3d3;
  --lightBlue: #239ed5;
  --blue: #308bad;
  --darkBlue: #1a6daa;
  --green: #33b163;
  --lightGreen: #34be69;
  --fade: rgba(22, 26, 29, 0.66);
  --red: #c41846;
  --yellow: #a8a81f;
}

* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: Montserrat;
  color: var(--black);
}

/* NavBar */

nav {
  background-color: var(--black);
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh;
  margin: auto 5vw;
  z-index: 100;
}

.logo {
  width: 16vw;
}

ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

li a {
  color: var(--white);
  margin: 0 1.5vw;
  font-size: 2.3vw;
  text-decoration: none;
}
.bottomNav {
  background: var(--black);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 7vh;
}

.ham {
  cursor: pointer;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vh 3vw;
  padding-right: 0;
  z-index: 100;
}
.line {
  width: 6vw;
  border-radius: 10px;
  height: 2px;
  background: #fff;
  position: relative;
  transition: all 0.3s;
}
.line::before,
.line::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  border-radius: 10px;
  transition: all 0.3s;
}
.line::before {
  top: -6px;
}
.line::after {
  top: 6px;
}

.hamActive .line {
  background: transparent;
}
.hamActive .line::before {
  transform: translateY(6px) rotate(45deg);
}
.hamActive .line::after {
  transform: translateY(-6px) rotate(-45deg);
}

/* Side */
.sideNav {
  position: fixed;
  top: 0;
  right: -100%;
  width: 70vw;
  height: 100vh;
  background: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 8;
  transition: all 0.3s;
  color: #fff;
}
.sideNav a {
  margin: 3vh 0;
  color: #fff;
  text-decoration: none;
}

.sideNavActive {
  right: 0;
  box-shadow: 0 0 100px var(--black);
}
