:root {
  --bgwhite: #f5f3f4;
  --blue: #1a6daa;
}

.detours-container {
  width: 90%;
  margin: 0 auto;
}

input {
  margin-top: 3vh;
  margin-bottom: 2vh;
  width: 100%;
  padding: 2vh 5vw;
  font-size: 2.2vh;
  border: 0;
  border-radius: 5px;
  color: var(--blue);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 20px 0 rgba(0, 0, 0, 0.1);
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 1; /* Firefox */
  font-weight: 500;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--blue);
  opacity: 0.9; /* Firefox */
  font-weight: 500;
}

/* Detour Cards */

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 3vh;
}

.card {
  width: 48%;
  border-radius: 2vh;
  padding: 2.3vh;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 20px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 2vh;
}

i.fa {
  font-size: 7vw;
  margin-bottom: 0.8vh;
}

.card h3 {
  margin-top: 1vh;
  font-size: 3.2vw;
  font-weight: 500;
}

.distance {
  color: var(--green);
  font-size: 3.2vw;
  font-weight: 500;
  margin: 0.7vh 0;
  margin-top: 0.5vh;
}

.card .btn {
  background-color: var(--blue);
  border: 0;
  padding: 0.8vh 5vw;
  border-radius: 5px;
  margin-bottom: 1.4vh;
}

.btn a {
  color: var(--white);
  text-decoration: none;
  font-weight: 400;
  font-size: 3vw;
}

.user {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

i.fa-user {
  font-size: 3.6vw;
  margin-left: 2vw;
  margin-bottom: 0vh;
  color: var(--fade);
}

.user-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user p {
  font-size: 1.5vh;
  color: var(--fade);
}