:root {
    --greenn: #33B163;
    --blue: #239ED5;
    --text: #161A1D;
}

body {
    color: var(--text)
}

.container {
    text-align: center;
    margin-top: 20vh;
}

.check {
    height: 20vh;
    margin-top: 10vh;
}

h2 {
    color: var(--greenn);
    margin-top: 2.5vh;
}
