:root {
  --greenn: #33b163;
  --blue: #239ed5;
  --text: #161a1d;
}
body {
  height: 100vh;
  overflow: hidden;
}
.container {
  text-align: center;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f5f3f4;
}

.wrap {
  width: 80vw;
  margin: 0 auto;
  border-radius: 10px;
  background-color: white;
  z-index: 5;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1), 0 6px 40px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

.image {
  position: absolute;
  top: -8px;
  left: 6px;
  width: 75vw;
}

h1 {
  margin-top: 12vh;
  font-size: 10vw;
  margin-bottom: 7vh;
}

.input-wrap {
  max-width: 80%;
  margin: auto;
}

.input-icons i {
  position: absolute;
}

.input-icons {
  width: 100%;
  margin-bottom: 3vh;
}

.input-field {
  width: 100%;
  padding: 0.8vh 2vh;
  padding-left: 10vw;
  border-radius: 8px;
  border: 2.5px solid var(--blue);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1), 0 6px 40px 0 rgba(0, 0, 0, 0.1);
}

.icon {
  padding: 1vh 0.5vh;
  min-width: 40px;
}

.btn {
  background-color: var(--blue);
  border: 0;
  padding: 1vh 3vh;
  border-radius: 5px;
  margin-bottom: 2vh;
  margin-top: 3vh;
  color: #fff;
}

.btn a {
  color: var(--white);
  text-decoration: none;
  font-weight: 400;
  font-size: 3vw;
}

/* dropdown */
.input {
  position: relative;
  margin: 3vh 0;
}
.dropdown {
  position: absolute;
  left: 0;
  top: 101%;
  z-index: 9;
  max-height: 18vh;
  overflow: scroll;
  border-radius: 10px;
  width: 100%;
  background-color: #fff;
  border: 2.5px solid var(--blue);
}
.dropdown div {
  font-size: 1.4vh;
  padding: 1vh 0;
  border-bottom: 1px solid var(--fade);
}
.gayab {
  display: none;
  pointer-events: none;
}
.err {
  color: #fff;
}
.showErr {
  color: var(--red);
}

.load {
  font-size: 3vh !important;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: rot 1s linear infinite;
  opacity: 0;
}
@keyframes rot {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.loadA {
  opacity: 1;
}
