<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/all.css" />
    <link rel="stylesheet" href="/css/welcome.css" />
    <link rel="stylesheet" href="/css/create.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <style>
      * {
        box-sizing: border-box;
      }

      #livesearchpick,
      #livesearchdrop {
        background-color: gainsboro;
        border-color: black;
        border-width: thin;
        border-style: solid;
        width: 500px;
        font-size: 10px;
      }

      .hide {
        display: none;
      }

      a:link,
      :visited,
      :hover,
      :active {
        color: black;
      }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>dTour - Create</title>
  </head>
  <body>
    <nav>
      <div class="navbar">
        <img src="/assets/Logo.svg" class="logo" />
        <div class="ham">
          <div class="line"></div>
        </div>
      </div>
    </nav>

    <div class="sideNav">
      <a href="/">Home</a>
      <a href="/auth/login">Login</a>
      <a href="/auth/signup">Register</a>
      <a href="/auth/logout">Logout</a>
    </div>

    <div class="wrapper">
      <div class="background"></div>
      <div class="foreground"></div>
    </div>

    <section class="container">
      <div class="wrap">
        <img src="/assets/phool.svg" class="image" />

        <div class="input-wrap">
          <form class="input-icons" action="/business/create" method="POST">
            <h6 class="err">Address too Small</h6>
            <h1>Set up Detour</h1>
            <div class="input">
              <i class="fa fa-truck icon"></i>
              <select required class="input-field" name="type">
                <option value="">Delivery Type</option>
                <option value="food">Food</option>
                <option value="package">Package</option>
                <option value="mail">Mail</option>
              </select>
            </div>
            <i class="fa fa-car icon"></i>
            <select required class="input-field" name="fragile">
              <option value="">Is the package fragile?</option>
              <option value="on">Yes</option>
              <option value="off">No</option>
            </select>
            <br />

            <div class="input">
              <i class="fa fa-map-pin icon"></i>
              <input
                type="text"
                name="pickLocation"
                id="pickLoc"
                class="input-field"
                placeholder="Pick Location"
                onkeyup="result(this.value, 'livesearchpick', true)"
              />
              <div class="dropdown dropdownPick gayab"></div>
            </div>
            <i class="fa fa-home icon"></i>
            <input
              type="text"
              class="input-field"
              placeholder="Pickup Apartment"
              name="pickFlat"
            />
            <br />
            <div class="input">
              <i class="fa fa-map-marker icon"></i>
              <input
                type="text"
                name="dropLocation"
                placeholder="Drop Location"
                id="dropLoc"
                class="input-field"
                onkeyup="result(this.value, 'livesearchdrop', false)"
              />
              <div class="dropdown dropdownDrop gayab"></div>
            </div>
            <i class="fa fa-building icon"></i>
            <input
              type="text"
              class="input-field"
              placeholder="Drop Apartment"
              name="dropFlat"
            />
            <div id="livesearchdrop" class="hide"></div>
            <button type="submit" class="create">login</button>
            <input type="text" name="pickeLoc" style="display: none" />
            <input type="text" name="dropeLoc" style="display: none" />
          </form>
        </div>
      </div>
    </section>

    <script>
      let res;
      let timeout;
      function result(str, id, pick) {
        if (timeout) {
          clearTimeout(timeout);
        }
        timeout = setTimeout(function () {
          for (let div of document.querySelectorAll(".dropdownPick div")) {
            div.remove();
          }

          for (let div of document.querySelectorAll(".dropdownDrop div")) {
            div.remove();
          }

          showResult(str, id, pick);
        }, 1500);
      }
      function showResult(str, id, pick) {
        // res = document.getElementById(id);
        // res.innerHTML = "";
        if (str.length <= 3) {
          // res.classList.add("hide");
          document.querySelector(".err").classList.add("showErr");
          for (let div of document.querySelectorAll(".dropdownPick div")) {
            div.remove();
          }
          for (let div of document.querySelectorAll(".dropdownDrop div")) {
            div.remove();
          }
          document.querySelector(".dropdownPick").classList.add("gayab");
          document.querySelector(".dropdownDrop").classList.add("gayab");

          return;
        } else {
          document.querySelector(".err").classList.remove("showErr");
        }
        // res.classList.remove("hide");
        $.ajax({
          url: `/business/search?srch=${str}`,
          method: "POST",
          contentType: "application/json",
          data: JSON.stringify({ search: str }),
          success: function (result) {
            result.forEach((element) => {
              const div = document.createElement("DIV");
              div.textContent = element.placeName + ", " + element.placeAddress;
              div.id = element.eLoc;
              if (pick) {
                document.querySelector(".dropdownPick").append(div);
                document
                  .querySelector(".dropdownPick")
                  .classList.remove("gayab");
              } else {
                document.querySelector(".dropdownDrop").append(div);
                document
                  .querySelector(".dropdownDrop")
                  .classList.remove("gayab");
              }

              for (let div of document.querySelectorAll(".dropdownPick div")) {
                div.addEventListener("click", () => {
                  document.querySelector("#pickLoc").value = div.textContent;
                  document.querySelector("input[name='pickeLoc']").value =
                    div.id;

                  div.parentElement.classList.add("gayab");
                });
              }

              for (let div of document.querySelectorAll(".dropdownDrop div")) {
                div.addEventListener("click", () => {
                  document.querySelector("#dropLoc").value = div.textContent;
                  document.querySelector("input[name='dropeLoc']").value =
                    div.id;

                  div.parentElement.classList.add("gayab");
                });
              }
            });
          },
        });
      }

      document.querySelector(".ham").addEventListener("click", () => {
        document.querySelector(".ham").classList.toggle("hamActive");
        document.querySelector(".sideNav").classList.toggle("sideNavActive");
      });
    </script>
  </body>
</html>
