<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/listed.css" />
    <link rel="stylesheet" href="/css/all.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>dTour- Listed</title>
  </head>
  <body>
    <nav>
      <div class="navbar">
        <img src="../assets/Logo.svg" class="logo" />
      </div>
    </nav>

    <section class="container">
      <div class="wrap">
        <img src="/assets/check.svg" class="check" />
        <h2>dTour Started</h2>
      </div>
    </section>
  </body>
</html>
