<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/setup-detour.css" />
    <link rel="stylesheet" href="/css/all.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>dTour- Set-up detour</title>
</head>
<body>
    <nav>
      <div class="navbar">
        <img src="../assets/Logo.svg" class="logo" />
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Features</a></li>
          <li><a href="#">Stories</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </nav>

    <div class="wrapper">
        <div class="background"></div>
        <div class="foreground"></div>
    </div>
    
    <section class="container">
        <div class="wrap">
            <img src="/assets/phool.svg" class="image">
            <h1>Set up Detour</h1>            
            <div class="input-wrap">
                <div class="input-icons">
                    <i class="fa fa-user icon"></i>
                    <input class="input-field" type="text" placeholder="Item Type"><br>
                    <i class="fa fa-instagram icon"></i>
                    <input class="input-field" type="text" placeholder="Instruction (fragile etc.)"><br>
                    <i class="fa fa-user icon"></i>
                    <input class="input-field" type="text" placeholder="Enter pick up location"><br>
                    <i class="fa fa-instagram icon"></i>
                    <input class="input-field" type="text" placeholder="Enter drop location">
                </div>
            </div>
            <button class="btn"><a href="#">Add Detour</a></button>
        </div>
    </section>
</body>
</html>