<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/stats.css" />
    <link rel="stylesheet" href="/css/all.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>dTour- Stats</title>
  </head>
  <body>
    <nav>
      <div class="navbar">
        <img src="../assets/Logo.svg" class="logo" />
      </div>
    </nav>

    <section class="container">
      <div class="card">
        <p>Today's deliveries</p>
        <table>
          <tr class="num">
            <td>1</td>
            <td>Vasant Kunj</td>
            <td>3km</td>
          </tr>
          <tr class="location">
            <td>1</td>
            <td>Vasant Kunj</td>
            <td>3km</td>
          </tr>
          <tr class="distance">
            <td>1</td>
            <td>Vasant Kunj</td>
            <td>3km</td>
          </tr>
        </table>
        <button class="btn all-btn"><a href="#">See All</a></button>
      </div>
      <div class="card">
        <p>Yesterday's deliveries</p>
        <table>
          <tr class="num">
            <td>1</td>
            <td>Vasant Kunj</td>
            <td>3km</td>
          </tr>
          <tr class="location">
            <td>1</td>
            <td>Vasant Kunj</td>
            <td>3km</td>
          </tr>
          <tr class="distance">
            <td>1</td>
            <td>Vasant Kunj</td>
            <td>3km</td>
          </tr>
        </table>
        <button class="btn all-btn"><a href="#">See All</a></button>
      </div>
      <div class="card">
        <p>Profit</p>
        <table>
          <tr class="num">
            <td>1</td>
            <td>Vasant Kunj</td>
            <td>3km</td>
          </tr>
          <tr class="location">
            <td>1</td>
            <td>Vasant Kunj</td>
            <td>3km</td>
          </tr>
          <tr class="distance">
            <td>1</td>
            <td>Vasant Kunj</td>
            <td>3km</td>
          </tr>
        </table>
        <button class="btn all-btn"><a href="#">See All</a></button>
      </div>
      <div class="card">
        <p>Yesterday's deliveries</p>
        <table>
          <tr class="num">
            <td>1</td>
            <td>Vasant Kunj</td>
            <td>3km</td>
          </tr>
          <tr class="location">
            <td>1</td>
            <td>Vasant Kunj</td>
            <td>3km</td>
          </tr>
          <tr class="distance">
            <td>1</td>
            <td>Vasant Kunj</td>
            <td>3km</td>
          </tr>
        </table>
        <button class="btn all-btn"><a href="#">See All</a></button>
      </div>
    </section>
  </body>
</html>
