<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/all.css" />
    <link rel="stylesheet" href="/css/collect.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>dTours- Collect Reward</title>
  </head>
  <body>
    <nav>
      <div class="navbar">
        <img src="../assets/Logo.svg" class="logo" />
        <div class="ham">
          <div class="line"></div>
        </div>
      </div>
    </nav>

    <div class="sideNav">
      <a href="/traveller">Home</a>
      <a href="/traveller/rewards">Rewards</a>
      <a href="/auth/logout">Logout</a>
    </div>

    <div class="container">
      <h1>+ d. <%= reward %></h1>
      <h2>Have been Added to your account</h2>
      <a href="/traveller/rewards">Avail Rewards</a>
    </div>

    <script>
      document.querySelector(".ham").addEventListener("click", () => {
        document.querySelector(".ham").classList.toggle("hamActive");
        document.querySelector(".sideNav").classList.toggle("sideNavActive");
      });
    </script>
  </body>
</html>
