<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/all.css" />
    <link rel="stylesheet" href="/css/started.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>dTour- Started</title>
  </head>
  <body>
    <nav>
      <div class="navbar">
        <img src="/assets/Logo.svg" class="logo" />
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Features</a></li>
          <li><a href="#">Stories</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </nav>

    <section class="container">
      <!-- <i class="fa fa-check-circle"></i> -->
      <img src="/assets/check.svg" class="check" />
      <h2>dTour Started</h2>

      <div class="options">
        <p>Picked up package?</p>
        <button class="btn"><a href="#">Record Pick Up</a></button>
        <p>Delivered Package?</p>
        <button class="btn"><a href="#">Record Delivery</a></button>
      </div>
    </section>
  </body>
</html>
