<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/welcome.css" />
    <link rel="stylesheet" href="/css/all.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        * {
          box-sizing: border-box;
        }
  
        #livesearchpick,#livesearchdrop {
          background-color: gainsboro;
          border-color: black;
          border-width: thin;
          border-style: solid;
          width: 500px;
          font-size: 10px;
        }
  
        .hide {
          display: none;
        }
  
        a:link,
        :visited,
        :hover,
        :active {
          color: black;
        }
      </style>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>dTour- Welcome</title>
</head>
<body>
    <nav>
      <div class="navbar">
        <img src="../assets/Logo.svg" class="logo" />
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Features</a></li>
          <li><a href="#">Stories</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </nav>

    <div class="wrapper">
        <div class="background"></div>
        <div class="foreground"></div>
    </div>
    
    <section class="container">
        <div class="wrap">
            <h1>Welcome, traveller</h1>            
            <div class="input-wrap">
                <div class="input-icons">
                    <i class="fa fa-user icon"></i>
                    <input class="input-field" type="text" placeholder="Enter start location" onkeyup="result(this.value, 'livesearchpick')"><br>
                    <div id="livesearchpick" class="hide"></div>
                    <i class="fa fa-instagram icon"></i>
                    <input class="input-field" type="text" placeholder="Enter end location" onkeyup="result(this.value, 'livesearchdrop')">
                    <div id="livesearchdrop" class="hide"></div>
                </div>
            </div>
            <button class="btn"><a href="#">Find Detours</a></button>
        </div>
    </section>
    <script>
        let res;
        let timeout; 
        function result(str,id) {
          if(timeout) {clearTimeout(timeout)}
          timeout = setTimeout(function(){ showResult(str,id); }, 1500);
        }
        function showResult(str,id) {
          res = document.getElementById(id);
          res.innerHTML = "";
          if (str.length <= 3) {
            res.classList.add("hide");
            return;
          }
          res.classList.remove("hide");
          $.ajax({
            url: `/traveller/search?srch=${str}`,
            method: "POST",
            contentType: "application/json",
            data: JSON.stringify({ search: str }),
            success: function (result) {
                result.forEach((element) => {
                res.innerHTML +=
                  element.placeName + ", " + element.placeAddress + "<br>";
              });
            },
          });
        }
      </script>
</body>
</html>